@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@300;500;700&family=Noto+Serif+KR&display=swap');

html {
	height : 100%;
}

body {
	height : 100%;
	font-family : 'Noto Sans KR', sans-serif;
	font-weight : 500;
}

.include {
	display : flex;
}

.header {
	display : flex;
	justify-content : center;
	align-items : center;
	width : 50%;
}

.nav {
	display : flex;
	width : 100%;
	margin : 0;
	padding : 0;
	background-color : darkslategrey;
	list-style-type : none;
}

.nav__li {
	padding : 15px;
	cursor : pointer;
}

.nav__li a {
	text-decoration : none;
	color : white;
}

.footer {
	margin-bottom : 30px;
	text-align : center;
	width : 100%;
	position : absolute;
	bottom : 0;
}