@charset "UTF-8";

	.room {
		text-align : center;
		background-color : lightgray;
		margin : 30px 200px 30px 200px;
		padding : 30px 100px 50px 100px;
	}

	.roomButton {
		margin-top : 20px;
		margin-bottom : 20px;
	}
	
	.roomCalender {
		background-color : white;
	}
	
	.roomCalender__table {
		height : 400px;	
		width : 100%;
		border : 5px solid gray;
		margin-bottom : 20px;
	}

	th {
		padding : 10px;
		width : 14%;
	}
	
	td {
		text-align : left;
		padding : 10px;
	}
	
	.roomCalender__table__tr__td--prevDay, .roomCalender__table__tr__td--nextDay {
		font-size : 0.6em; 
		color : gray; 
		vertical-align : top;
	}
	
	#td1, #td8, #td15, #td22, #td29 {
		color : red;
	}
	
	#td7, #td14, #td21, #td28 {
		color : blue;
	}
	
	.today {
		background-color : pink;
		font-weight : bolder;
	}
	
	.resIn, .resOut	{
		background-color : skyblue;
		font-weight : bolder;
	}
	
	.roomSelector {
		display:flex; 
		justify-content:space-around;
	}
	
	.roomSelector__div {
		display:flex; 
		justify-content:space-around;
	}
	